*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
NativeGLESView/.gitignore
NativeGLESView/CMakeLists.txt
NativeGLESView/build.gradle
NativeGLESView/proguard-rules.pro
NativeGLESView/src/
NativeGLESViewWithEGL/.gitignore
NativeGLESViewWithEGL/build.gradle
NativeGLESViewWithEGL/proguard-rules.pro
NativeGLESViewWithEGL/src/
OpenGLES_FBO/build.gradle
OpenGLES_FBO/build/
OpenGLES_FBO/src/
OpenGLES_LoadObj/build.gradle
OpenGLES_LoadObj/build/
OpenGLES_LoadObj/src/
OpenGLShatterAnim/.gitignore
OpenGLShatterAnim/build.gradle
OpenGLShatterAnim/proguard-rules.pro
OpenGLShatterAnim/src/
OpenGlES_Blend/build.gradle
OpenGlES_Blend/build/
OpenGlES_Blend/src/
OpenGlES_Circle/build.gradle
OpenGlES_Circle/build/
OpenGlES_Circle/src/
OpenGlES_Illumination/build.gradle
OpenGlES_Illumination/build/
OpenGlES_Illumination/src/
OpenGlES_StencilTest/build.gradle
OpenGlES_StencilTest/build/
OpenGlES_StencilTest/src/
OpenGlES_Texture/build.gradle
OpenGlES_Texture/build/
OpenGlES_Texture/src/
OpenGlES_Texture2/build.gradle
OpenGlES_Texture2/build/
OpenGlES_Texture2/src/
airhock3D/build/generated/mockable-android-16.v3.jar
airhock3D/build/generated/res/
airhock3D/build/generated/source/aidl/
airhock3D/build/generated/source/rs/
airhock3D/build/intermediates/blame/res/androidTest/
airhock3D/build/intermediates/blame/res/debug/multi-v2/
airhock3D/build/intermediates/check-manifest/
airhock3D/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
airhock3D/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
airhock3D/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
airhock3D/build/intermediates/incremental/mergeDebugResources/aapt-temp/
airhock3D/build/intermediates/incremental/mergeDebugResources/stripped.dir/
airhock3D/build/intermediates/incremental/processDebugAndroidTestResources/
airhock3D/build/intermediates/incremental/processDebugResources/
airhock3D/build/intermediates/prebuild/
airhock3D/build/intermediates/res/merged/androidTest/
airhock3D/build/intermediates/res/symbol-table-with-package/
airhock3D/build/intermediates/rs/
airhock3D/build/intermediates/symbols/
airhock3D/build/intermediates/tmp/
airhockOrtho/build/generated/mockable-android-16.v3.jar
airhockOrtho/build/generated/res/
airhockOrtho/build/generated/source/aidl/
airhockOrtho/build/generated/source/rs/
airhockOrtho/build/intermediates/blame/res/androidTest/
airhockOrtho/build/intermediates/blame/res/debug/multi-v2/
airhockOrtho/build/intermediates/check-manifest/
airhockOrtho/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
airhockOrtho/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
airhockOrtho/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
airhockOrtho/build/intermediates/incremental/mergeDebugResources/aapt-temp/
airhockOrtho/build/intermediates/incremental/mergeDebugResources/stripped.dir/
airhockOrtho/build/intermediates/incremental/processDebugAndroidTestResources/
airhockOrtho/build/intermediates/incremental/processDebugResources/
airhockOrtho/build/intermediates/prebuild/
airhockOrtho/build/intermediates/res/me
rged/androidTest/
airhockOrtho/build/intermediates/res/symbol-table-with-package/
airhockOrtho/build/intermediates/rs/
airhockOrtho/build/intermediates/symbols/
airhockOrtho/build/intermediates/tmp/
heightmap/build/generated/mockable-android-16.v3.jar
heightmap/build/generated/res/
heightmap/build/generated/source/aidl/
heightmap/build/generated/source/rs/
heightmap/build/intermediates/blame/res/androidTest/
heightmap/build/intermediates/blame/res/debug/multi-v2/
heightmap/build/intermediates/check-manifest/
heightmap/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
heightmap/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
heightmap/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
heightmap/build/intermediates/incremental/mergeDebugResources/aapt-temp/
heightmap/build/intermediates/incremental/mergeDebugResources/stripped.dir/
heightmap/build/intermediates/incremental/processDebugAndroidTestResources/
heightmap/build/intermediates/incremental/processDebugResources/
heightmap/build/intermediates/prebuild/
heightmap/build/intermediates/res/merged/androidTest/
heightmap/build/intermediates/res/symbol-table-with-package/
heightmap/build/intermediates/rs/
heightmap/build/intermediates/symbols/
heightmap/build/intermediates/tmp/
improvedmallet/build/generated/mockable-android-16.v3.jar
improvedmallet/build/generated/res/
improvedmallet/build/generated/source/aidl/
improvedmallet/build/generated/source/rs/
improvedmallet/build/intermediates/blame/res/androidTest/
improvedmallet/build/intermediates/blame/res/debug/multi-v2/
improvedmallet/build/intermediates/check-manifest/
improvedmallet/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
improvedmallet/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
improvedmallet/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
improvedmallet/build/intermediates/incremental/mergeDebugResources/aapt-temp/
improvedmallet/build/intermediates/incremental/mergeDebugResources/stripped.dir/
improvedmallet/build/intermediates/incremental/processDebugAndroidTestResources/
improvedmallet/build/intermediates/incremental/processDebugResources/
improvedmallet/build/intermediates/prebuild/
improvedmallet/build/intermediates/res/merged/androidTest/
improvedmallet/build/intermediates/res/symbol-table-with-package/
improvedmallet/build/intermediates/rs/
improvedmallet/build/intermediates/symbols/
improvedmallet/build/intermediates/tmp/
learnopengles/build.gradle
learnopengles/build/
learnopengles/src/
lighting/build/generated/mockable-android-16.v3.jar
lighting/build/generated/res/
lighting/build/generated/source/aidl/
lighting/build/generated/source/rs/
lighting/build/intermediates/blame/res/androidTest/
lighting/build/intermediates/blame/res/debug/multi-v2/
lighting/build/intermediates/check-manifest/
lighting/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
lighting/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
lighting/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
lighting/build/intermediates/incremental/mergeDebugResources/aapt-temp/
lighting/build/intermediates/incremental/mergeDebugResources/stripped.dir/
Would r
emove lighting/build/intermediates/incremental/processDebugAndroidTestResources/
lighting/build/intermediates/incremental/processDebugResources/
lighting/build/intermediates/prebuild/
lighting/build/intermediates/res/merged/androidTest/
lighting/build/intermediates/res/symbol-table-with-package/
lighting/build/intermediates/rs/
lighting/build/intermediates/symbols/
lighting/build/intermediates/tmp/
livewallpaper/build/generated/mockable-android-16.v3.jar
livewallpaper/build/generated/res/
livewallpaper/build/generated/source/aidl/
livewallpaper/build/generated/source/rs/
livewallpaper/build/intermediates/blame/res/androidTest/
livewallpaper/build/intermediates/blame/res/debug/multi-v2/
livewallpaper/build/intermediates/check-manifest/
livewallpaper/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
livewallpaper/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
livewallpaper/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
livewallpaper/build/intermediates/incremental/mergeDebugResources/aapt-temp/
livewallpaper/build/intermediates/incremental/mergeDebugResources/stripped.dir/
livewallpaper/build/intermediates/incremental/processDebugAndroidTestResources/
livewallpaper/build/intermediates/incremental/processDebugResources/
livewallpaper/build/intermediates/prebuild/
livewallpaper/build/intermediates/res/merged/androidTest/
livewallpaper/build/intermediates/res/symbol-table-with-package/
livewallpaper/build/intermediates/rs/
livewallpaper/build/intermediates/symbols/
livewallpaper/build/intermediates/tmp/
particles/build/generated/mockable-android-16.v3.jar
particles/build/generated/res/
particles/build/generated/source/aidl/
particles/build/generated/source/rs/
particles/build/intermediates/blame/res/androidTest/
particles/build/intermediates/blame/res/debug/multi-v2/
particles/build/intermediates/check-manifest/
particles/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
particles/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
particles/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
particles/build/intermediates/incremental/mergeDebugResources/aapt-temp/
particles/build/intermediates/incremental/mergeDebugResources/stripped.dir/
particles/build/intermediates/incremental/processDebugAndroidTestResources/
particles/build/intermediates/incremental/processDebugResources/
particles/build/intermediates/prebuild/
particles/build/intermediates/res/merged/androidTest/
particles/build/intermediates/res/symbol-table-with-package/
particles/build/intermediates/rs/
particles/build/intermediates/symbols/
particles/build/intermediates/tmp/
skybox/build/generated/mockable-android-16.v3.jar
skybox/build/generated/res/
skybox/build/generated/source/aidl/
skybox/build/generated/source/rs/
skybox/build/intermediates/blame/res/androidTest/
skybox/build/intermediates/blame/res/debug/multi-v2/
skybox/build/intermediates/check-manifest/
skybox/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
skybox/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
skybox/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
skybox/build/intermediates/incremental/mergeDebugResources/aapt-temp/
W
ould remove skybox/build/intermediates/incremental/mergeDebugResources/stripped.dir/
skybox/build/intermediates/incremental/processDebugAndroidTestResources/
skybox/build/intermediates/incremental/processDebugResources/
skybox/build/intermediates/prebuild/
skybox/build/intermediates/res/merged/androidTest/
skybox/build/intermediates/res/symbol-table-with-package/
skybox/build/intermediates/rs/
skybox/build/intermediates/symbols/
skybox/build/intermediates/tmp/
takingnewxtstep/build/generated/mockable-android-17.v3.jar
takingnewxtstep/build/generated/res/
takingnewxtstep/build/generated/source/aidl/
takingnewxtstep/build/generated/source/rs/
takingnewxtstep/build/intermediates/blame/res/androidTest/
takingnewxtstep/build/intermediates/blame/res/debug/multi-v2/
takingnewxtstep/build/intermediates/check-manifest/
takingnewxtstep/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
takingnewxtstep/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
takingnewxtstep/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
takingnewxtstep/build/intermediates/incremental/mergeDebugResources/aapt-temp/
takingnewxtstep/build/intermediates/incremental/mergeDebugResources/stripped.dir/
takingnewxtstep/build/intermediates/incremental/processDebugAndroidTestResources/
takingnewxtstep/build/intermediates/incremental/processDebugResources/
takingnewxtstep/build/intermediates/prebuild/
takingnewxtstep/build/intermediates/res/merged/androidTest/
takingnewxtstep/build/intermediates/res/symbol-table-with-package/
takingnewxtstep/build/intermediates/rs/
takingnewxtstep/build/intermediates/symbols/
takingnewxtstep/build/intermediates/tmp/
texure/build/generated/mockable-android-16.v3.jar
texure/build/generated/res/
texure/build/generated/source/aidl/
texure/build/generated/source/rs/
texure/build/intermediates/blame/res/androidTest/
texure/build/intermediates/blame/res/debug/multi-v2/
texure/build/intermediates/check-manifest/
texure/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
texure/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
texure/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
texure/build/intermediates/incremental/mergeDebugResources/aapt-temp/
texure/build/intermediates/incremental/mergeDebugResources/stripped.dir/
texure/build/intermediates/incremental/processDebugAndroidTestResources/
texure/build/intermediates/incremental/processDebugResources/
texure/build/intermediates/prebuild/
texure/build/intermediates/res/merged/androidTest/
texure/build/intermediates/res/symbol-table-with-package/
texure/build/intermediates/rs/
texure/build/intermediates/symbols/
texure/build/intermediates/tmp/
touch/build/generated/mockable-android-16.v3.jar
touch/build/generated/res/
touch/build/generated/source/aidl/
touch/build/generated/source/rs/
touch/build/intermediates/blame/res/androidTest/
touch/build/intermediates/blame/res/debug/multi-v2/
touch/build/intermediates/check-manifest/
touch/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
touch/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
touch/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
touch/build/intermediates/incremental/mergeDebugResources/aapt-temp/
touch/build/intermediates/incremental/mergeDebugResources/stripped.dir/
touch/build/intermediates/incremental/processDebugAndroidTestResources/
touch/build/intermediates/incremental/processDebugResources/
touch/build/intermediates/prebuild/
touch/build/intermediates/res/merged/androidTest/
touch/build/intermediates/res/symbol-table-with-package/
touch/build/intermediates/rs/
touch/build/intermediates/symbols/
touch/build/intermediates/tmp/
airhockOrtho/build/intermediates/res/merged/androidTest/
lighting/build/intermediates/incremental/processDebugAndroidTestResources/
skybox/build/intermediates/incremental/mergeDebugResources/stripped.dir/
